.footer{
  background-color: #1B262F;
  padding-bottom: 16px;
  padding-top: 16px;
}

.footer__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left{
  display: flex;
}

.footer__logo-img{
  display: block;
  width: 135px;
  height: 38px;
}

.footer__list{
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer__link{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #B8BCC0;
  margin-left: 40px;
}

.footer__link:nth-child(1n){
  margin-left: 64px;
}

.footer__link:hover{
  color: #fff;
}

.footer__sites-box{
  display: flex;
}

.footer__sites-link{
  text-decoration: none;
}

.footer__sites{
  margin-right: 24px;
}

.footer__sites:nth-child(3n){
  margin-right: 0;
}

.footer__sites:hover path{
  fill: #DA6D97;
}

@media screen and (max-width:660px) {
  .footer__box{
    flex-direction: column;
  }
  
  .footer__left{
    flex-direction: column;
    align-items: center;
  }
  
  .footer__logo-img{
    margin-bottom: 40px;
  }
  
  .footer__list{
    flex-direction: column;
  }
  
  .footer__item{
    margin-bottom: 31px;
  }
  
  .footer__item:nth-child(3n){
    margin-bottom: 41px;
  }
  
  .footer__link{
    margin: 0;
    margin-bottom: 31px;
  }
  
  .footer__link:nth-child(1n){
    margin: 0;
    margin-bottom: 31px;
  }
}